<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Acceuil</title>
    <image nom="banniere.jpg"/> </br>
    <div>
      <form action="/post/create" type="post">
        <button>Ajouter</button>
      </form>
      <button>Lister les articles</button>
      <!--<button>Retour</button>-->
    </div>
  </head>
  <body>
    <div>
      <h1>Derniers articles :</h1>
      <p>
        <!--Içi faut récuperer et afficher les 5 derniers articles dans la BDD-->
        <!--Bouclage qui envoie des balises <articles> et met en forme pour chacun des articles. à récupérer pour le listing des articles-->
      </p>
    </div>
  </body>
</html>