doctype html
html
head
    title Acceuil
body
    div
      a(href="/post/create")
        button Ajouter

    div
      h1 Derniers article :

      table
        thead
          tr
            th Titre
            th Auteur
            th Résumée
            th
        tbody
          each article in articles
            tr
            
              td=article.Auteur
              td=article.Titre
              td=article.Contenu.substr(0, 20) + '...'
              td
                a(href="/post/"+article._id)
                  button lire la suite